body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #48519f;
}

.App {
  min-width: 50%;
  max-width: 100%;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 36px;
}

/*userList*/
.userList div {
  display: flex;
  min-height: 40px;
  line-height: 40px;
}
.userList .head {
  background-color: #00a1ff;
}
.userList span {
  display: block;
  text-align: center;
  font-weight: 600;
  border: 0.5px solid #fff;
}

.userList .head span {
  color: #fff;
}
.userList span:first-of-type {
  flex-basis: 60%;
}

.userList span:nth-of-type(2) {
  flex-basis: 25%;
}

.userList span:last-of-type {
  flex-basis: 15%;
  background-color: crimson;
  color: #fff;
  cursor: pointer;
}

.data-span {
  background-color: #f1f1f1;
  color: #333;
  text-transform: capitalize;
}

.add form {
  display: flex;
}

.add form input {
  border: 0.5px solid #e0e0e0;
  padding: 10px 0px;
  text-align: center;
  outline: none;
}
.add form input[type="text"] {
  flex-basis: 60%;
}
.add form input[type="number"] {
  flex-basis: 25%;
}
.add form input[type="submit"] {
  flex-basis: 15%;
  background-color: #00a1ff;
  color: #fff;
  cursor: pointer;
}

/* no-items*/

.no-items {
  text-align: center;
  background: #fff;
  margin: 0;
  padding: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

/* responsive */

@media (max-width: 991px) {
  .App {
    min-width: 95%;
    max-width: 95%
  }
  form {
    flex-wrap: wrap;
  }
  .add form input[type="text"] {
    flex-basis: 100%;
  }
  .add form input[type="number"] {
    flex-basis: 100%;
  }
  .add form input[type="submit"] {
    flex-basis: 100%;
  }
  .userList span:first-of-type {
    flex-basis: 50%;
  }
  .userList span:last-of-type {
    flex-basis: 25%;
  }
}
